<h1>Профиль</h1>

<div class="row">
  <div class="col s6">
    {{#if user.avatarUrl}}
      <img src="/{{user.avatarUrl}}" alt="{{user.name}}" class="avatar">
    {{else}}
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpQsO5KM-BFHxK-Ve4wIh4j2gALq8FUDgZFpS12o713FoWXKke&usqp=CAU"
        alt="" class="avatar">
    {{/if}}
  </div>

  <div class="col s6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <p>Ваш email: <b>{{user.email}}</b></p>

      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" value="{{user.name}}" required>
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Введите имя"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Аватар</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">

      <button class="btn" type="submit">Изменить</button>
    </form>
  </div>
</div>